<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https: //fonts.googleapis.com/css2? family = Roboto & display = swap "
      rel=" stylesheet "
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
  </head>

  <body>
    <header class="header">
      <div class="contenedorSuperior">
        <img
          class="logo"
          src="/img/logo-mercado-liebre.svg"
          alt="Logo Mercado Liebre"
        />
        <h2 class="compras">
          <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas
          de credito
        </h2>
      </div>

      <div>
        <form action="/home.html" method="POST">
          <div class="barra">
            <i class="fas fa-search lupa">
            <input
             type="search"
             placeholder="Buscar productos, marcas"
            size="30vw" 
             />
            </i>
            
        </div>
        </form>
      </div>

      <div class="burguer-menu">
        <i class="fas fa-bars"></i>
      </div>

      <nav class="navbar">
        <ul type="none" class="navbar1">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul type= "none" class="navbar2">
          <li>
            <a href="/register.html">Creá tu cuenta <i class="far fa-id-card"></i></a
            >
          </li>
          <li>
            <a href="/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
    </header>

    <form action="/home.html" method="POST" class="formulario">
      <div class="control-form-div">
        <label>Nombre y Apellido</label>
        <input type="text" name="nombre" class="control-sub" />
      </div>
      <div class="control-form-div">
        <label>Nombre de Usuario</label>
        <input type="text" name="usuario" class="control-sub"/>
      </div>
      <div class="control-form-div">
        <label>Fecha de nacimiento</label>
        <input type="date" name="fecha-nacimiento" class="control-sub"/>
      </div>
      <div class="control-form-div">
        <label>Domicilio</label>
        <input type="text" name="domicilio" class="control-sub"/>
      </div>
      <div class="control-form-sub">
        <label>Perfil de usuario:</label>
        <div class="opciones">
          <label for="comprar">Comprar  <input
            type="radio"
            name="perfil-de-usuario"
            value="Comprar"
            id="comprar"
          /></label>
          <label for="vender">Vender   <input
            type="radio"
            name="perfil-de-usuario"
            value="Vender"
            id="vender"
          /></label>
        </div>
      </div>
      <div class="control-form-sub">
        <label>Categorías de interés: </label>
        <div class="opciones">
          <label for="electro">Electro</label>
          <input type="checkbox" name="categorias" value="electro" />
          <label for="moda">Moda</label>
          <input type="checkbox" name="categorias" value="moda" />
          <label for="hogar">Hogar</label>
          <input type="checkbox" name="categorias" value="hogar" />
          <label for="jugueteria">Juguetería</label>
          <input type="checkbox" name="categorias" value="jugueteria" />
          <label for="vida-sana">Vida Sana</label>
          <input type="checkbox" name="categorias" value="vida-sana" />
        </div>
      </div>
      <div class="control-form-sub">
        <label for="foto-de-usuario">Foto de usuario:</label>
        <input type="file" name="foto-de-usuario" accept=".jpg" />
      </div>
      <div class="control-form-div">
        <label for="contraseña">Contraseña</label>
        <input type="password" name="contraseña" required class="control-sub"/>
      </div>
      <div class="control-form-div">
        <label for="confirmacion">Confirmar contraseña</label>
        <input type="password" name="confirmacion" required class="control-sub"/>
      </div>
      <div class="control-boton">
        <button type="submit" value="enviar" class="boton-sub">Enviar</button>
        <button type="reset" value="borrar" class="boton-sub" >Borrar</button>
      </div>
    </form>

    <footer class="footer">
      <section>
        <article class="articulo-centrado">
          <i class="fas fa-credit-card icono"></i>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago.¡Y siempre es seguro!
          </p>
        </article>
      </section>

      <section>
        <article class="articulo-centrado">
          <i class="fas fa-gift icono"></i>
          <h3>Envios gratis desde $2500</h3>
          <p>
            Solo por estar registrada en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos
          </p>
        </article>
      </section>

      <section>
        <article class="articulo-centrado">
          <i class="fas fa-user-shield icono"></i>
          <h3>Seguridad de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no
            puedas hacer por que estas siempre protegid@.
          </p>
        </article>
      </section>

      <section>
        <p>Copyright 1999-2020 Mercado Liebre S.R.L.</p>
      </section>
    </footer>

  </body>
</html>
